body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: black;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
  margin: 0 auto;
}
.input {
  width: 272px;
  height: 40px;
  gap: 8px;
  border-radius: 4px;
  border: #808080 1px solid;
  padding-inline: 10px;
}

.input:hover {
  border: 1px solid #000000;
}
.input:focus {
  border: 1px solid #4e75ff;
  border-color: #4e75ff;
}
.search-button {
  color: #ffffff;
  border-radius: 8px;
  background-color: #4e75ff;
  border: #4e75ff;
  height: 45px;
  width: 91px;
  gap: 10px;
  padding: 8px, 16px, 8px, 16px;
}
.search-button:hover {
  background-color: #6c8cff;
  border: #6c8cff;
}
.gallery-list {
  gap: 24px;
  max-width: 1128px;
  height: 200px;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-list li {
  flex-basis: calc(33.33% -24px);
}
.list-container {
  border: 1px solid #808080;
  width: 450px;
  height: 200px;
}

.image-container {
  border: none;
  object-fit: cover;
  max-width: 100%;
  width: 450px;
  height: 135px;
  overflow: hidden;
}

.image-container img {
  cursor: pointer;
}

.descr-list {
  display: flex;
  text-align: center;
  gap: 32px;
  padding: 4px 16px 4px 16px;
  list-style-type: none;
}

.loading-text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.result-text {
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.disabled {
  display: none;
}
